<!-- <p>Rover Select</p>
<input [(ngModel)]="camera" type="text" required>
<button (click)="setCameraSelection()">Search</button>

<p>{{camera}}</p>
<hr>
<app-image-collection></app-image-collection> -->