
<div class="container"> 
    
  <h1>ING Search</h1>
  
<p> Select Rover :
<select [(ngModel)]="selectedRover" (ngModelChange)="changeRover()">
  <option *ngFor="let rover of rover_names; let i = index" value={{i}}>{{rover}}</option> 
</select></p>
<p mat-> Select Camera :
<select [(ngModel)]="selectedCamera" (ngModelChange)="changeCamera()">
  <option *ngFor="let camera of camera_names; let i = index" value={{i}}>{{camera}}</option> 
</select></p>
<p> Input Sol :
<input matInput type="text" name="sol" [(ngModel)]="sol_selection">
</p>
<p> Input Earth Date :<input type="text" name="date" [(ngModel)]="date_selection">
</p>
<button name="search" value="Search" (click)="onSearchClick()">Search</button>
<!-- <app-selection></app-selection> -->

</div>

<!-- Display photos here-->
<div style="padding: 13px;">
    <!-- <mat-spinner *ngIf="photos.length === 0"></mat-spinner> -->

    <mat-card *ngFor="let photo of photos" style="margin-top:10px;">
        <mat-card-content>
            <img style="height:100%; width: 100%;" src="{{ photo.image_source }}" />
        </mat-card-content>
    </mat-card>
</div>

<router-outlet> </router-outlet>
